appdirs==1.4.4
beautifulsoup4==4.12.2
docutils==0.18.1
mistune==2.0.4
myst==1.0.4
myst_parser==0.18.0
networkx==2.8.4
pillow==9.2.0
pytest==7.1.2
sphinx==5.0.2
sphinx-autodoc-typehints==1.18.3
sphinx-copybutton==0.5.0
sphinx_design==0.2.0
sphinx-gallery==0.10.1
sphinxcontrib-contentui==0.2.5
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib.yt==0.2.2
